/* div{
            color: darkgoldenrod;
            background-color: rgba( 146, 147, 146, 0.4);
            text-decoration: underline;
            font-family: Arial, Helvetica, sans-serif;
            font-size: xx-large;
            font-style: oblique;
            font-weight: bolder;
            font-variant: small-caps;
            text-decoration: underline;
            -webkit-column-count: 3;
            width: 300 px;
            height: 300px;
            background-clip: border-box;
            padding: 50px;
            text-align: justify;
        }
        body{
            background-image : url("https://static.toiimg.com/thumb/msid-111680615,width-400,resizemode-4/111680615.jpg");
            background-size: auto 100vh;
            background-attachment: fixed;
            background-position: center;
        }
        p{
            text-decoration: overline;
            font-size: xx-large;
            color: blue;
            transform: rotate(20deg);
        }
        b{
            text-decoration: line-through;
            font-size: xx-large;
            color: violet;
        } */

        